<!-- Logo -->
<div class="logo">
  <%= link_to "goodbook", root_path, class: "navbar-brand" %>
</div>

<!-- Main Menu -->
<ul class="main-nav" id="main_nav">
  <li class="<%= current_class?(root_path) %>">
    <%= link_to root_path do %>
        <i class="fa fa-list"></i> <span>News Feed</span>
    <% end %>
  </li>
  <li class="<%= current_class?(books_path) %>">

    <%= link_to books_path do %>
        <i class="fa fa-book"></i> <span>Books</span>
    <% end %>
  </li>
  <% if user_signed_in? %>
      <li class="<%= current_class?(new_book_path) %>">
        <%= link_to new_book_path do %>
            <i class="fa fa-plus"></i> <span>Add a Book</span>
        <% end %>
      </li>
  <% end %>
</ul>



