<script type="text/javascript" charset="utf-8">
$(function () {
  $('.star-rating').raty({
    path: '/assets',
    readOnly: 'true',
    score: function(){
      return $(this).attr('data-score');
    }
  });
})
</script>


<div class="panel panel-default">
  <div class="panel-heading">
    <div class="pull-left">
      <%= link_to 'Back', books_path, class: 'btn btn-default btn-xs' %>
    </div>
    <div class="pull-right">
      <%= link_to edit_book_path(@book), class: 'btn btn-warning btn-xs' do %>
        <span class="glyphicon glyphicon-pencil"></span> Edit Book
      <% end %>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div>
          <%= image_tag @book.cover.url(:medium), {width: "100%"} %>
        </div>
      </div>
      <div class="col-md-8 col-sm-6 col-xs-12">
        <h1 class="text-primary"><%= @book.title %></h1>
        <% unless @reviews.blank? %>
        <div style="margin: 0 0 20px">
          <span class="star-rating" data-score="<%= @avg_rating %>"></span>
          <span style="margin-left: 10px"><%= @avg_rating %></span>
          <span style="margin-left: 10px"><%= @reviews_count %> reviews</span>
        </div>
        <% end %>
        <div><%= @book.description %></div>
        <hr>
        <table class="table-responsive">
          <tr>
            <td><strong>Published:</strong></td>
            <td><%= @book.year_published %>.</td>
          </tr>
          <tr>
            <td><strong>No. of pages:</strong></td>
            <td><%= @book.pages %> pages</td>
          </tr>
          <tr>
            <td><strong>ISBN:</strong></td>
            <td><%= @book.isbn %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</div>

<div class="panel panel-default">
  <div class="panel-heading">
    Reviews |
    <%= link_to 'Write a Review', new_book_review_path(@book), class: 'btn btn-xs btn-info' %>
  </div>
  <div class="panel-body">

    <% if @book.reviews.blank? %>
        <p>No reviews just jet.</p>
        <p>Be the first to review this book.</p>
        <%= link_to 'Write a Review', new_book_review_path(@book), class: 'btn btn-link' %>
    <% else %>
        <% @reviews.each do |review| %>
            <div class="row">
              <div class="col-sm-12">
                <div class="thumbnail pull-left" style="margin-right: 10px;">
                  <!-- TODO: Change picture -->
                  <%= image_tag 'avatar.png', width: "64", class: "img-responsive user-photo" %>
                </div><!-- /thumbnail -->

                <div>
                  <strong><%= review.user.email %></strong> |
                  <% if user_signed_in? && (current_user.id == review.user.id) %>
                    <%= link_to "/books/#{@book.id}/reviews/#{review.id}/edit", class: "btn btn-xs btn-warning" do %>
                        <span class="glyphicon glyphicon-pencil"></span>
                    <% end %>
                      <%= link_to "/books/#{@book.id}/reviews/#{review.id}", method: :delete, class: "btn btn-xs btn-danger" do %>
                          <span class="glyphicon glyphicon-trash"></span>
                      <% end %>
                  <% end %>
                  <div class="pull-right">
                    <span class="text-muted"><%= time_ago_in_words(review.created_at) %> ago</span>
                  </div>

                </div>

                <div class="star-rating" data-score="<%= review.rating %>"></div>
                <div class="clearfix visible-xs-block"></div>
                <div><%= review.content %></div>

              </div><!-- /col-sm-12 -->
            </div>
            <div class="clearfix"></div>
            <hr style="margin: 10px 0 "/>
        <% end %>
    <% end %>


  </div>
</div>




