<%= form_for([@book, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% unless @review.rating.blank? %>
      <div class="star-rating" data-score="<%= @review.rating %>"></div>
    <% else %>
      <div class="star-rating"></div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script>
  $(function () {
    $('.star-rating').raty({
      path: '/assets/',
      scoreName: 'review[rating]',
      score: function(){
        return $(this).attr('data-score');
      }
    });
  })
</script>