<%= form_for([@book, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <% if @review.new_record? %>
        <div class="star-rating-edit" data-score="0"></div>
    <% else %>
        <div class="star-rating-edit" data-score="<%= @review.rating %>"></div>
    <% end %>

    <%= f.label :rating, class: "col-form-label" %>

    <small id="titleHelp" class="form-text text-muted">Rate the book.</small>
  </div>

  <div class="form-group ">
    <%= f.label :content, class: "col-form-label" %>
    <%= f.text_area :content, as: :summernote, data: { provider: "summernote" }, class:"form-control",aria: { describeby: "contentHelp" } %>
    <small id="contentHelp" class="form-text text-muted">Full review of the book.</small>
  </div>

  <div class="actions" style="margin-top: 20px">
    <%= f.submit "Update", class: "btn btn-danger" %>
    <%= link_to 'Cancel', book_path(@book), class: "btn btn-secondary", style:"margin-left:10px" %>
  </div>

<% end %>
